<a href="https://colab.research.google.com/github/nithinthunder/python/blob/main/22_12_2021_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
n=int(input("enter the n terms"))
sum=0
for i in range (1,n+1):
  print(i,end=" ")
  if(i<n):
    print("+",end=" ")
    sum=sum+i
  print("=",sum)

enter the n terms90
1 + = 1
2 + = 3
3 + = 6
4 + = 10
5 + = 15
6 + = 21
7 + = 28
8 + = 36
9 + = 45
10 + = 55
11 + = 66
12 + = 78
13 + = 91
14 + = 105
15 + = 120
16 + = 136
17 + = 153
18 + = 171
19 + = 190
20 + = 210
21 + = 231
22 + = 253
23 + = 276
24 + = 300
25 + = 325
26 + = 351
27 + = 378
28 + = 406
29 + = 435
30 + = 465
31 + = 496
32 + = 528
33 + = 561
34 + = 595
35 + = 630
36 + = 666
37 + = 703
38 + = 741
39 + = 780
40 + = 820
41 + = 861
42 + = 903
43 + = 946
44 + = 990
45 + = 1035
46 + = 1081
47 + = 1128
48 + = 1176
49 + = 1225
50 + = 1275
51 + = 1326
52 + = 1378
53 + = 1431
54 + = 1485
55 + = 1540
56 + = 1596
57 + = 1653
58 + = 1711
59 + = 1770
60 + = 1830
61 + = 1891
62 + = 1953
63 + = 2016
64 + = 2080
65 + = 2145
66 + = 2211
67 + = 2278
68 + = 2346
69 + = 2415
70 + = 2485
71 + = 2556
72 + = 2628
73 + = 2701
74 + = 2775
75 + = 2850
76 + = 2926
77 + = 3003
78 + = 3081
79 + = 3160
80 + = 3240
81 + = 3321
82 + = 3403
83 + = 3486
84 + = 3570
85 + = 3655
86 + = 3741
87 + = 3828
88 + = 3916
89 + = 4005
90 = 4005

In [7]:
base=int(input("enter base"))
exp=int(input("enter exponential value:"))
if(exp==1):
  print("Base=",base)
if(exp!=1):
  print("exponential of a number is",base**exp)

enter base3
enter exponential value:2
exponential of a number is 9

In [9]:
n=int(input("enter a number"))
approx=0.5*n
better=0.5*(approx+(n/approx))
while better!=approx:
  approx=better
  better=0.5*(approx+(n/approx))
print("the square root is",approx)

enter a number25
the square root is 5.0